header {
    display: flex;
    background-color: #323232;
    height: 63px; 
}
    
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: none;
}

h3 {
    font-weight: normal;
}

.navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.nav-menu {
    display: flex;
    height: 100%;
    list-style: none;
    padding-top: 10px;
    padding-left: 30px;
}

.nav-menu :nth-child(2) {
    margin-right: 0px;
}

.nav-menu li+li ::before {
    content: "•";
    position: relative;
    right: 12px;
    color: #484c5f;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 0px 0px;
}

.nav-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
}

.nav-triangle-slider {
    padding: 0 25px;
    position: relative;
    width: 90px;
    top: -7px;
    background-color: white;
}

.white-block{
    color: white;
    width: 140px;
    height: 10px;
}

.nav-link {
    display: flex;
    font-family: 'Lato-Bold';
    color: #ffffff;   
    text-decoration: none;
    font-size: 8px;
}

.nav-link:hover {
    color: #2eb398;  
}

.navigation li {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

main {
    font-family: 'Lato-Regular'; 
}

body {
    background-color: #ffffff;
    color: #ffffff;
    height: 721px;
    min-width: 1020px;
}

/* Start of Hex */
.field-hexagon {
    display: flex;
    height: 697px;
    margin: 11px 0px 11px 20px;
    border-top: #e4e9eb 1px solid;
    border-bottom: #e4e9eb 1px solid;
    background-color: #ffffff;
}

.field-hexagon-container {
    display: grid;
    justify-items: flex-end;
    grid-template-areas: 
    "a a a a a b b b b b c c c c c d d d d d"
    "e e e e f f f f g g g g h h h h i i i i"
    "j j j j j k k k k k l l l l l m m m m m";
    row-gap: 4px;
    position: relative;
    top: -9px;
}

    /* hex 1 */
.field-hexagon-1-line {
    grid-area: a;
    border-right: #e4e9eb 1px solid;
    height: 104px;
    width: 102px;
    position: relative;
    right: 160px;
    top: 138px;
}

.field-hexagon-1 {
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 0px;
    position: relative;
    top: -72px;
    left: 103px;
}

.field-hexagon-1-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-1-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer1.png);
}

    /* hex 2 */
.field-hexagon-2 {
    grid-area: b;
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    position: relative;
    top: 65px;
    left: 10px;
}

.field-hexagon-2-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-2-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer2.png);
}
    /* hex 3 */
.field-hexagon-3 {
    grid-area: c;
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    position: relative;
    top: 65px;
    left: -40px;
}

.field-hexagon-3-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-3-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer3.png);
}
    /* hex 4 */
.field-hexagon-4-line {
    grid-area: d;
    border-right: #e4e9eb 1px solid;
    height: 104px;
    width: 102px;
    position: relative;
    right: 99px;
    top: 139px;
}

.field-hexagon-4 {
    width: 180px;
    height: 210px;
    margin: 20px;
    margin-left: 0px;
    transform: rotate(120deg);
    overflow: hidden;
    position: relative;    
    top: -73px;
    left: -98px;
}

.field-hexagon-4-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-4-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 48% 160%;
    background-image: url(../assets/img/Layer4.png);
}

    /* hex 5 */
.field-hexagon-5 {
    grid-area: e;
    width: 180px;
    height: 210px;
    transform: rotate(120deg);
    overflow: hidden;
    margin-right: 10px;    
}

.field-hexagon-5-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-5-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer5.png);
}

    /* hex 6 */
.field-hexagon-6 {
    grid-area: f;
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.field-hexagon-6-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-6-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer6.png);
}
    /* hex 7 */
.field-hexagon-7 {
    grid-area: g;
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.field-hexagon-7-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-7-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer7.png);
}

    /* hex 8 */
.field-hexagon-8 {
    grid-area: h;
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.field-hexagon-8-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-8-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer8.png);
}

    /* hex 9 */
.field-hexagon-9 {
    grid-area: i;
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.field-hexagon-9-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-9-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer9.png);
}

    /* hex 10 */
.field-hexagon-10-line {
    grid-area: j;
    border-right: #e4e9eb 1px solid;
    height: 104px;
    width: 102px;
    position: relative;
    right: 160px;
    top: 7px;
}

.field-hexagon-10 {
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    position: relative;
    top: -73px;
    left: 103px;
}

.field-hexagon-10-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-10-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer10.png);
}

    /* hex 11 */
.field-hexagon-11 {
    grid-area: k;
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    position: relative;
    top: -65px;
    left: 10px;
}

.field-hexagon-11-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-11-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer11.png);
}

    /* hex 12 */
.field-hexagon-12 {
    grid-area: l;
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    position: relative;
    top: -65px;
    left: -40px;
}

.field-hexagon-12-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-12-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer12.png);
}

    /* hex 13 */
.field-hexagon-13-line {
    grid-area: m;
    border-right: #e4e9eb 1px solid;
    height: 104px;
    width: 102px;
    position: relative;
    right: 99px;
    top: 7px;
}

.field-hexagon-13 {
    width: 180px;
    height: 210px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
    position: relative;
    top: -73px;
    left: -118px;
}

.field-hexagon-13-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.field-hexagon-13-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(../assets/img/Layer13.png);
}
    /* End of Hex */

.author {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 317px;
    width: 100%;
    padding: 12px 0px;
    background-color: #2eb398;
    font-size: 12px;
}

.author-info-container {
    display: flex;
    flex-direction: row;
    width: 822px;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
    border-left:  1px solid #219d84;
    border-right: 1px solid #219d84;    
}

.author-hexagon-container {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.author-hexagon {
    width: 180px;
    height: 225px;
    margin: 20px;
    transform: rotate(120deg);
    overflow: hidden;
}

.author-hexagon-layer-1 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.author-hexagon-layer-2 {
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background: rgb(16, 56, 16);
    background-repeat: no-repeat;
    background-position: 49%;
    background-image: url(../assets/img/Image1.png);
}

.author-text-container {
   padding: 0px 22px 10px 20px;
}

.author-name {
    font-family: 'MavenPro-Regular';
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 0px;    
}

.author-profession {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'MavenPro-Regular';
    font-size: 18px;
    color: rgba(32, 129, 109, 255);
}

.author-about {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    text-align: justify;
    line-height: 1.9;
}

.social-net {
    display: flex;
    justify-content: flex-end;
}

.social-net li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 24px;
}

.social-net li:hover {
    background-color: orange;
}

.social-net-container {
    display: flex;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 35px;
}

i { 
    color: #2eb398;
}

.facebook {
    background-color: #a4dbd4;
}

.twitter {
    background-color: #6ccbbe;
}

.google {
    background-color: #7ed0c5;
}

.pinterest {
    background-color: #abddd6;
}

.linkedin {
    background-color: #acddd7;
}

.dribbble {
    background-color: #6dcbbe;
}

footer {
    display: flex;
    flex-direction: column;
    font-family: 'Lato-Regular';
    font-size: 12px;
    background-color: #323232;
    color: #ffffff; 
    align-items: center;
}

hr {
    margin: 13px 30px 11px;
    border: 0.5px solid #222222;  
    min-width: 960px; 
}

.feedback {
    display: flex;
    height: 514px;
    flex-direction: column;
    color: #e0e0e0;
}

.feedback-title {
    font-family: 'MavenPro-Regular';
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.feedback-text {
    font-family: 'MavenPro-Regular';
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0px;
}


.feedback-container {
    display: flex;
    width: 780px;
}

.feedback-info {
    margin-left: 20px;
    width: 180px;
}

.feedback-info-text {
    margin-top: 0px;
    line-height: 1.7;
    text-align: justify;
}

.feedback-info-bold {
    font-family: 'Lato-Black';
}

.feedback-info-contacts {
    display: block;
    font-family: 'Lato-Bold';
    margin-top: 41px;
    margin-bottom: 0px;
    line-height: 1.6;
}

.feedback-info-contacts a {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: baseline;
}

.fas.fa-map-marker-alt {
    margin-right: 14px;
}

.fas.fa-phone {
    margin-right: 12px;
}

.fas.fa-envelope {
    margin-right: 11px;
}

.feedback-form {
    font-family: 'MavenPro-Regular';
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 580px;
}

.feedback-form-item {
    margin-bottom: 16px;
}

input, textarea {
    font-family: 'Lato-Regular';
    background-color: #454545;
    text-align: justify;
    font-size: 12px;
    border: 0px;
    margin-bottom: 15px;
    padding: 0px 14px;
    width: 552px;
    height: 38px;
}

input::placeholder { 
    color: #e0e0e0; 
}

textarea::placeholder {
    color: #e0e0e0;
}

textarea {
    resize: none;
    height: 137px;
    padding-top: 13px;
}

.button-submit {
    font-size: 12px;
    background-color: #2eb398;
    color: #ffffff;
    border: 0px;
    width: 90px;
    height: 37px;
}

.button-submit:hover {
    background-color: orange;
}

footer .downline {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 43px;
    background-color: #222222;  
}

.copyright {       
    font-family: 'MavenPro-Regular';
    font-size: 12px;
    margin: 15px 787px 16px 0px;
    color: #454545;  
}
